absl-py==1.0.0
altair==4.2.0
appnope==0.1.3
argh==0.26.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
asttokens==2.0.5
astunparse==1.6.3
atk-1.0==2.36.0
attrs==21.4.0
aws-c-auth==0.6.8
aws-c-cal==0.5.12
aws-c-common==0.6.17
aws-c-compression==0.2.14
aws-c-event-stream==0.2.7
aws-c-http==0.6.10
aws-c-io==0.10.14
aws-c-mqtt==0.7.10
aws-c-s3==0.1.29
aws-c-sdkutils==0.1.1
aws-checksums==0.1.12
aws-crt-cpp==0.17.10
aws-sdk-cpp==1.9.160
backcall==0.2.0
backports==1.0
backports.functools_lru_cache==1.6.4
base58==2.1.1
beautifulsoup4==4.10.0
bleach==5.0.0
blinker==1.4
boost-cpp==1.74.0
boto3==1.21.37
botocore==1.24.37
branca==0.4.2
brotli==1.0.9
brotli-bin==1.0.9
brotlipy==0.7.0
bzip2==1.0.8
c-ares==1.18.1
ca-certificates==2021.10.8
cached-property==1.5.2
cached_property==1.5.2
cachetools==5.0.0
cairo==1.16.0
catalogue==2.0.6
certifi==2021.10.8
cffi==1.14.6
cfitsio==4.0.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.4
cryptography==36.0.2
curl==7.82.0
cycler==0.11.0
cymem==2.0.6
cython-blis==0.7.7
dataclasses==0.8
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
emoji==1.7.0
en-core-web-sm==3.2.0
entrypoints==0.4
et_xmlfile==1.0.1
executing==0.8.3
expat==2.4.8
factor_analyzer==0.3.2
ffmpeg==4.3.2
fftw==3.3.10
filelock==3.6.0
fiona==1.8.20
flatbuffers==2.0
flit-core==3.7.1
folium==0.12.1.post1
font-ttf-dejavu-sans-mono==2.37
font-ttf-inconsolata==3.000
font-ttf-source-code-pro==2.038
font-ttf-ubuntu==0.83
fontconfig==2.13.94
fonts-conda-ecosystem==1
fonts-conda-forge==1
fonttools==4.32.0
freetype==2.10.4
freexl==1.0.6
fribidi==1.0.10
funcy==1.17
future==0.18.2
gast==0.5.3
gdal==3.3.3
gdk-pixbuf==2.42.6
gensim==4.1.2
geopandas==0.10.2
geopandas-base==0.10.2
geos==3.10.0
geotiff==1.7.0
gettext==0.19.8.1
gflags==2.2.2
ghostscript==9.54.0
giflib==5.2.1
gitdb==4.0.9
gitpython==3.1.27
glob2==0.7
glog==0.5.0
gmp==6.2.1
gnutls==3.6.13
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphite2==1.3.13
graphviz==2.49.1
grpc-cpp==1.42.0
grpcio==1.45.0
gtk2==2.24.33
gts==0.7.6
h5py==3.6.0
harfbuzz==3.0.0
hdf4==4.2.15
hdf5==1.12.1
huggingface-hub==0.4.0
icu==68.2
idna==3.3
imagemagick==7.1.0_10
importlib-metadata==4.11.3
importlib_resources==5.6.0
iniconfig==1.1.1
ipykernel==6.12.1
ipython==8.2.0
ipython_genutils==0.2.0
ipywidgets==7.7.0
jasper==2.0.33
jbig==2.1
jedi==0.18.1
jinja2==3.1.1
jmespath==1.0.0
joblib==1.1.0
jpeg==9e
jpype1==1.3.0
json-c==0.15
jsonschema==4.4.0
jupyter==1.0.0
jupyter_client==7.2.2
jupyter_console==6.4.3
jupyter_core==4.9.2
jupyterlab_widgets==1.1.0
kealib==1.4.14
keras==2.8.0
keras-preprocessing==1.1.2
kiwisolver==1.4.2
konlpy==0.6.0
krb5==1.19.3
kss==3.4
lame==3.100
langcodes==3.3.0
lcms2==2.12
lerc==3.0
libblas==3.9.0
libbrotlicommon==1.0.9
libbrotlidec==1.0.9
libbrotlienc==1.0.9
libcblas==3.9.0
libclang==13.0.0
libcurl==7.82.0
libcxx==13.0.1
libdap4==3.20.6
libdeflate==1.10
libedit==3.1.20191231
libev==4.33
libevent==2.1.10
libffi==3.3
libgd==2.3.3
libgdal==3.3.3
libgfortran==5.0.0.dev0
libgfortran5==11.0.1.dev0
libglib==2.68.4
libiconv==1.16
libkml==1.3.0
liblapack==3.9.0
liblapacke==3.9.0
libllvm11==11.1.0
libnetcdf==4.8.1
libnghttp2==1.47.0
libopenblas==0.3.20
libopencv==4.5.3
libpng==1.6.37
libpq==13.5
libprotobuf==3.18.1
librsvg==2.52.2
librttopo==1.1.0
libsodium==1.0.18
libspatialindex==1.9.3
libspatialite==5.0.1
libssh2==1.10.0
libthrift==0.15.0
libtiff==4.3.0
libtool==2.4.6
libutf8proc==2.7.0
libwebp==1.2.2
libwebp-base==1.2.2
libxcb==1.13
libxml2==2.9.12
libxslt==1.1.33
libzip==1.8.0
libzlib==1.2.11
llvm-openmp==13.0.1
llvmlite==0.38.0
lxml==4.8.0
lz4-c==1.9.3
mapclassify==2.4.3
markdown==3.3.6
markupsafe==2.1.1
matplotlib==3.5.1
matplotlib-base==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
munch==2.5.0
munkres==1.1.4
murmurhash==1.0.6
nbconvert==5.6.1
nbformat==5.3.0
ncurses==6.3
nest-asyncio==1.5.5
nettle==3.6
networkx==2.7.1
nltk==3.6.7
nose==1.3.7
notebook==6.4.10
nspr==4.32
nss==3.77
numba==0.55.1
numexpr==2.8.1
numpy==1.21.5
oauthlib==3.2.0
opencv==4.5.3
openh264==2.1.1
openjpeg==2.4.0
openpyxl==3.0.9
openssl==1.1.1n
opt-einsum==3.3.0
orc==1.7.1
packaging==21.3
pandas==1.4.1
pandocfilters==1.5.0
pango==1.48.10
parquet-cpp==1.5.1
parso==0.8.3
pathy==0.6.1
patsy==0.5.2
pcre==8.45
pdf2image==1.16.0
pdfminer.six==20200517
pdfplumber==0.5.28
perl==5.32.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.1.0
pip==22.0.4
pixman==0.40.0
pkg-config==0.29.2
pluggy==1.0.0
poppler==21.09.0
poppler-data==0.4.11
postgresql==13.5
preshed==3.0.6
proj==8.1.1
prometheus_client==0.14.1
prompt-toolkit==3.0.29
prompt_toolkit==3.0.29
protobuf==3.19.4
psutil==5.9.0
pthread-stubs==0.4
ptyprocess==0.7.0
pure_eval==0.2.2
py==1.11.0
py-hanspell==1.1
py-opencv==4.5.3
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclustering==0.10.1.2
pycparser==2.21
pycryptodome==3.14.1
pydantic==1.8.2
pydeck==0.7.1
pygments==2.11.2
pyldavis==3.3.1
pympler==0.9
pynndescent==0.5.6
pyopenssl==22.0.0
pyparsing==3.0.7
pypdf2==1.26.0
pyproj==3.2.1
pyrsistent==0.18.1
pyshp==2.2.0
pysocks==1.7.1
pytesseract==0.3.9
pytest==7.1.1
python==3.9.0
python-dateutil==2.8.2
python-fastjsonschema==2.15.3
python-tzdata==2022.1
python_abi==3.9
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pyyaml==6.0
pyzmq==22.3.0
qtconsole==5.2.2
qtpy==2.0.1
re2==2021.11.01
readline==8.1
regex==2022.3.15
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
rtree==1.0.0
s3transfer==0.5.2
sacremoses==0.0.49
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
seaborn-base==0.11.2
semver==2.13.0
send2trash==1.8.0
setuptools==62.0.0
shapely==1.8.0
shellingham==1.4.0
six==1.15.0
sklearn==0.0
smart_open==5.2.1
smmap==3.0.5
snappy==1.1.8
sortedcontainers==2.4.0
soupsieve==2.3.1
soyclustering==0.2.0
soynlp==0.0.493
spacy==3.2.2
spacy-legacy==3.0.9
spacy-loggers==1.0.2
spherecluster==0.1.7
sqlite==3.37.1
srsly==2.4.2
stack_data==0.2.0
statsmodels==0.13.2
streamlit==1.8.1
streamlit-folium==0.6.4
tbb==2021.5.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-deps==2.8.0
tensorflow-macos==2.8.0
tensorflow-metal==0.4.0
termcolor==1.1.0
terminado==0.13.3
testpath==0.6.0
tf-estimator-nightly==2.8.0.dev2021
thinc==8.0.15
threadpoolctl==3.1.0
tiledb==2.3.4
tk==8.6.12
tokenizers==0.11.6
toml==0.10.2
tomli==2.0.1
toolz==0.11.2
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
transformers==4.17.0
typer==0.4.1
typing-extensions==4.1.1
typing_extensions==4.1.1
tzcode==2022a
tzdata==2022a
tzlocal==4.2
umap-learn==0.5.2
unicodedata2==14.0.0
urllib3==1.26.9
validators==0.18.2
wand==0.6.5
wasabi==0.9.1
watchdog==2.1.7
wcwidth==0.2.5
webencodings==0.5.1
werkzeug==2.0.3
wget==3.2
wheel==0.37.1
widgetsnbextension==3.6.0
wordcloud==1.8.1
wrapt==1.13.3
x264==1!161.3030
xerces-c==3.2.3
xorg-kbproto==1.0.7
xorg-libice==1.0.10
xorg-libsm==1.2.3
xorg-libx11==1.7.2
xorg-libxau==1.0.9
xorg-libxdmcp==1.1.3
xorg-libxext==1.3.4
xorg-libxrender==0.9.10
xorg-libxt==1.2.1
xorg-renderproto==0.11.1
xorg-xextproto==7.3.0
xorg-xproto==7.0.31
xyzservices==2022.3.0
xz==5.2.5
yaml==0.2.5
yellowbrick==1.3.post1
zeromq==4.3.4
zipp==3.8.0
zlib==1.2.11
zstd==1.5.2